body {
    background-color: #0a0a0a;
}

.terminal-text {
    color: #e0e0e0;
    font-family: "Consolas", "Courier New", monospace;
    font-size: 12px;
}

.input-area {
    background-color: #0a0a0a;
    color: #e0e0e0;
    caret-color: #e0e0e0;
}

.prompt-symbol {
    color: #ffffff;
    font-weight: bold;
}

.error-msg {
    color: #af0c0c;
}

.warning-msg {
    color: #bfc210;
}

.directory-link {
    color: #0f556e;
    text-decoration: underline;
}